/****** Game of Life ******/

* {margin: 0; padding: 0; border: 0; outline: 0; font-family: Verdana, sans-serif; background-color: transparent;}

body {text-align: left; font-size: 16px; color: #000;}

/*** Layout ***/

button {padding: 5px 20px; border: 1px solid #000;}
button.pressed {background-color: #DDD;}
a:link, a:visited {color: #005EC8;}


div#page {margin: 10px;}

div#page > div {
  margin-bottom: 10px;
}

div.grid {position: relative;}
div.grid > div.main, div.grid > div.over {position: absolute; top: 0; left: 0;}
div.grid > div.under {position: static;}

div.sgrid {display: table; border-top: 1px dotted #AAA; border-left: 1px dotted #AAA;}
div.sgrid > div {display: table-row;}
div.sgrid > div > div {display: table-cell; position: relative; width: 10px; height: 10px; min-width: 10px; min-height: 10px; border-right: 1px dotted #AAA; border-bottom: 1px dotted #AAA;}
div.sgrid > div > div.fill {background-color: #000;}
